.todo-list {
  &-enter {
    opacity: 0;
    transform: translateY(-20px);
  }

  &-item {
    transition: all 0.3s ease-in-out;
    transform-origin: top;

    &-enter {
      opacity: 0;
      transform: translateY(-10px);
    }

    &.removing {
      opacity: 0;
      transform: translateX(-100%);
    }
  }
}

.task-list {
  position: relative;

  .task-item {
    opacity: 0;
    transform: translateY(20px);
    animation: slideIn 0.3s ease forwards;

    @for $i from 1 through 20 {
      &:nth-child(#{$i}) {
        animation-delay: #{$i * 0.1}s;
      }
    }
  }
}

.tasks-container {
  position: relative;
}

.loader-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
  z-index: 2;

  &.visible {
    opacity: 1;
    visibility: visible;

    & + .task-list {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

@keyframes slideIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
